<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{{url_for('static', filename='chatroom.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <meta charset="UTF-8">
    <title>CMPE295 Chat Room</title>
</head>
<body>
    <div class="heading">
        <h1 class="header">Video Chat App</h1>
    </div>
    <h2>This is room {{room_id}}</h2>
    <div id="permission_alert" class="alert alert-danger" role="alert" style="display: none;">
            <strong>Permission of camera is disabled</strong> 
    </div>                
    <video id="local_vid" autoplay muted style="max-height: 100%; max-width: 100%;"></video>
    <div>
        <button id="bttn_mute">mic</button> 
        <button id="bttn_vid_mute">videocam</button>
    </div>
</body>
</html>